<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informacje o Książce</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  {{navbar | safe}}

  <div class="container">
    <h1 class="mt-5">Informacje o Książce</h1>
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='imgs/' + book.image) }}" alt="{{ book.title }}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2><strong>{{ book.title }}</strong></h2>
        <p><strong>Autor:</strong> {{ book.author }}</p>
        <p><strong>Gatunek:</strong> {{ book.genre }}</p>
        <p>Rok produkcji: {{ book.year }}</p>
        <p>Ilość na magazynie: {{ book.quantity }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p class="lead">Opis:</p>
        <p>{{ book.description }}</p>
        <a href="/borrow/{{ book.id }}" class="btn btn-primary">Wypożycz</a>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
