<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wypożyczanie Książek</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  {{navbar | safe}}

<div class="container">
  <h1 class="mt-5 mb-4">Wypożyczone Książki</h1>
  <ul class="list-group">
    {% for book in books %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-start align-items-left">
        <span>{{ book.title }}</span>
      </div>
      <a href="/book/{{ book.id }}" class="stretched-link"></a>
      <div class="d-flex justify-content-end align-items-right">
        <span class="ms-3">Data zwrotu: {{ book.date_of_return }}</span>
      </div>
      
    </li>
    {% endfor %}
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
